.rolldice{
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
}
.rolldice-container{
    display: flex;
    justify-content: center;
    align-content: center;
}

.rolldice button{
    align-self: center;
    width: 15em;
    padding: 1.5em;
    border: 0px;
    border-radius: 10px;
    color: white;
    background-color: black;
}

.rolldice button:hover{
    background-color: slateblue;
    cursor: pointer;

}